

.head {
  width: 300px;
  padding: 100px;
  background: red;
  position: relative;
}

#left {
  width: 100px;
  padding: 50px;
  background: yellow;
  position: absolute;
  top: 10;
  left: 0;
}

#right {
  width: 100px;
  padding: 50px;
  background: green;
  position: absolute;
  top: 10;
  right: 0;
}

.left {
  width: 100px;
  padding: 20px;
  background: black;
  float: right;
}

.right {
  width: 100px;
  padding: 20px;
  background: purple;
  float: right;
}
.footer {
  clear: both;
}
* {
 -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 -moz-box-sizing: border-box;    /* Firefox, other Gecko */
 box-sizing: border-box;         /* Opera/IE 8+ */
}